on: [push, pull_request]
name: Test on macOS

jobs:
  test:
    strategy:
      matrix:
        os: [macos-14, macos-15, macos-26]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - name: Install ImageMagick
        run: env HOMEBREW_NO_AUTO_UPDATE=1 brew install imagemagick
      - name: Print macOS info
        run: system_profiler SPSoftwareDataType
      - run: make build
      - run: make test-behaviour
      - run: make lint
      - run: make check-readme-cli-help
